<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{league?.name}}</p>
        <p class="subtitle is-6">{{league?.nation}}</p>
        <p class="subtitle is-6">{{league?.level}}</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="columns">
  <div class="column">
    <a class="button is-outlined" routerLink="/league">Back</a>
  </div>
    <div class="column">
    <a class="button is-outlined" (click)="like()">Like</a>
  </div>
</div>